<ion-content class="backgroundGeral">

<div class="botaoVoltar" style="color:#FFFFFF" (click)="voltar()"><ion-icon name="md-arrow-back" ></ion-icon></div>

<div *ngIf="idPista!=null" class="botaoExcluir" style="color:#FFFFFF" (click)="excluirPista(idPista)"><ion-icon name="md-close-circle"></ion-icon></div>



<div><img src="assets/imgs/headerBlur.svg" style="width: 100%;position: absolute;z-index: -10;"></div>


<div class="boxCriaPista">
<div class="divNumeroPista">Pista {{posicaoPista}}</div>
<ion-badge  item-end class="bullet" style="margin-top: 43px;">1</ion-badge>
<div class="labelTituloDescricao" style="margin-top: 44px;">Escreva a pista que você dará ao seu jogador. Este é o lugar em que você vai esconder o qrcode:</div>


<textarea  type="text" [(ngModel)]="inputDescricaoPista" placeholder="Estou escondido em um lugar..." maxLength="1500" class="descricaoPista" ></textarea>



<div padding style="margin-top: 175px;">
  <ion-segment [(ngModel)]="tipoPista">
    <ion-segment-button value="qrcode">
      Vou usar QRCode
    </ion-segment-button>
    <ion-segment-button value="codigo" (ionSelect)="geraCodigo()">
      Vou usar Código
    </ion-segment-button>
  </ion-segment>
</div>


<div [ngSwitch]="tipoPista">
  <ion-list *ngSwitchCase="'qrcode'">
    <ion-badge  item-end class="bullet">2</ion-badge>
    <div class="labelTituloDescricao">Agora escaneie um QRCode que será escondido:</div>
    <div *ngIf="scannedCode!=null"  class="labelToqueAqui" (tap)="escanearQRCODE()">Toque aqui<br>para escanear o QRCode</div>
    <div class="imgQrCodeCadastro">
      <img *ngIf="scannedCode!=null" src="assets/imgs/imgQrcodeCadastro.svg" >
      <img *ngIf="scannedCode==null" src="assets/imgs/imgQrcodeCadastroOk.svg" >
    </div>
  </ion-list>


  <ion-list *ngSwitchCase="'codigo'">
    <ion-badge  item-end class="bullet">2</ion-badge>
    <div class="labelTituloDescricao">Escreva este código em um pedaço de papel e esconda no local que você escolheu. Ele será usado para desbloquear a próxima pista.</div>
    <div class="codigoCadastro">{{codigoNumericoPista}}</div>
  </ion-list>
</div>


 <button *ngIf="modoDaTela=='I'" ion-button class="botaoCriarJogo" (click)="criarPista()" >INCLUIR ESTA PISTA</button>
 <button *ngIf="modoDaTela=='A'" ion-button class="botaoCriarJogo" (click)="alterarPista()" >ALTERAR ESTA PISTA</button>

</div>




</ion-content>
